# =============================================================================
# Scraper Doctor — Variáveis de Ambiente
# Copie para .env e preencha. Nunca commite o .env.
# =============================================================================

# Credenciais
TARGET_URL=https://site.com/
TARGET_USERNAME=eu_usuario
TARGET_PASSWORD =sua_senha

# Caminhos do Chrome (ajuste conforme sua instalação)
CHROME_DRIVER_PATH=F:\chrome-test\chromedriver-win64\chromedriver.exe
CHROME_BINARY_PATH=F:\chrome-test\chrome-win64\chrome.exe
